<div class="nav" style="position: fixed; width: 350px; right: 0px; border: 1px solid black;">
  <div style="margin: 10px">
  Build problem set...

  <div id="task_set">
    <ul id="task_set_list" style="list-style-type: none">
    </ul>
  </div>

  <%= form_tag('massAssign') do -%>
      <%= submit_tag 'Mass assign', :name => 'mass_assign' %>
  <% end -%>

  </div>
</div>

<script>
   $(document).ready(function () {
      $('.add_task').click(function (e) {
           e.preventDefault();
           
           t = $('#task_set_list').append('<li><input checked="checked" id="test" name="test" type="checkbox" value="23" /><label>Test 1</label></li>');
           $('#task_set input:checkbox').change(function () {
             $(this).parent().remove();
             
             }); 
       });
     });
</script>
