<em><%= task.short_description %></em>

<span class="pull-right">
  <b>Difficulty:</b>
  <%= task.difficulty %>
</span>

<p>
  <b>Description</b>
  <pre>
    <%= raw addPrettifyTags(task.long_description) %>
  </pre>
</p>

<% if is_admin %>
  
  <%= admin_div( link_to 'edit task', edit_task_path(task) ) %>
  
<% end %>

<script>
  prettyPrint()
</script>
