<h1>Challenge Bot Tutorial</h1>

<p><h3>What you will be making</h3><br />
This tutorial will walk you though the design descisions and basic concepts involved in building a simple table-top robot.  This is based on the Homebrew Robotics Club Bot for 2012-2013, with a few modifications.  Here is a video of what it can do:</p>

<p>
<ul>
  <li>Configuration #1:  Don't fall off the table!  (<a href="http://www.youtube.com/watch?v=cF9LAcr7JAY">video</a>)</li>
  <li>Configuration #2:  Maintain a fixed distance from the wall.  (<a href="http://www.youtube.com/watch?v=qg5WpeSCRZY">video</a>)</li>
</ul>
</p>

<p>
Our goal is for the robot to be easily extendible, so if you want to make it do other things, you'll know how to get started.  The Homebrew Robotics Club is continuing to extend this robot as well, with the eventual goal of adding a more powerful processor and a camera so the robot can begin to do face recognition, map its environment, and navigate around on its own.  These are meaty, interesting problems in robotics and it's exciting to think that we could make an affodable test-bed to experiment.
</p>

<p><h3>Overview</h3><br />
This tutorial is divided into 4 sections:  1).  Mechanical background, 2).  electrical background, 3).  basic arduino programming, and 4).  putting it all together.  </p>

<p>
<ol>
  <li>Mechanical background</li>
  <li>Electrical background</li>
  <li>Basic arduino programming</li>
  <li>Putting it all together</li>
</ol>
</p>

<p><h3>Mechanical Background</h3><br />

What materials can you use?<br />
How do you attach things to each other?<br />
A good set of tools.<br />
</p>



<p>
<h3>Appendicies</h3><br />
1.  Where / how to find parts
2.  What to do after 
</p>
