<h1>Your First Program</h1>

By tradition, the first program all programmers write when learning a new language is "hello world".  The goal is just to display the words "hello world" to the screen.  So, without further ado, here's hello world for java...

<pre class="prettyprint linenums">
  public class HelloWorld {
    public static void main(String[] args) {
        System.out.println("Hello, World");
    }
}
</pre>

<script>
prettyPrint()
</script>
