<h1>User Input</h1>

<p>
There are two main ways to get user input:  One using a Scanner object and one using a JOptionPane.  I'll show you both methods.
</p>

<h3>User input using a Scanner object</h3>

<p>A scanner gets user input straight from the text console.  It has a different method you use depending on what data type you want it to return.  Here's the example:</p>

<pre class="prettyprint linenums">
import java.util.Scanner;

public class HelloWorld {
    public static void main(String[] args) {
        Scanner userInput = new Scanner(system.in);   // create a Scanner object

        System.out.print("Type a number: ");
        double miles = userInput.nextDouble();        // ask it to get a Double from the console
    
        double feet = miles / 5280;
        System.out.println("There are " + feet + " feet in " + miles + " miles");
    }
}
</pre>

Here is how you have the scanner get other types of input: <br />

<pre>
    userInput.nextInt();         // returns an integer  
    userInput.nextBoolean();     // returns a boolean  
    userInput.next();            // returns a String  
</pre>

<h3>User input using a JOptionPane</h3>

<p>A JOptionPane will pop up a graphical window with a text field in it that you type into and click 'ok' to submit.  This always returns whatever the user typed as a String.  If you want it to be a number, you have to explicitly convert it to the data type you want.  See the example below on line 8.</p>

<pre class="prettyprint linenums">
import javax.swing.JOptionPane;

public class HelloWorld {
    public static void main(String[] args) {
        String response;

        response = JOptionPane.showInputDialog("Enter a number of miles");        // get a String from the user
        double miles = Double.parseDouble(response);                              // convert it to a double

        double feet = miles / 5280;
        System.out.println("There are " + feet + " feet in " + miles + " miles");
    }
}
</pre>

<p>If you want to convert a String into something other than a double, here are some other options you could have typed on line 8:<br />
<pre>
  int miles = Integer.parseInt(response);  
  boolean m = Boolean.parseBoolean(response);
  
  Note:  you don't need to say String.parseString(response) because response is already a String!
</pre>
</p>

<script>
prettyPrint()
</script>
