<h1>Possible Project Topics</h1>

<div class="row">
  <div class="span4">
    <h3>Evolution of Altruistic Behavior</h3>
    <a href="http://arxiv.org/pdf/1208.2666.pdf">Here</a> is a recent (2012) paper on the evolutionary instability of Zero Determinant strategies.
  </div>

  <div class="span4">
    <h3>TBA</h3>
  </div>

  <div class="span4">
    <h3>TBA</h3>

  </div>
</div>
