<h1>Possible Project Topics</h1>

<div class="row">
  <div class="span4">
    <h3>Evolution of Altruistic Behavior</h3>
    <ul>

    </ul>
  </div>

  <div class="span4">
    <h3>TBA</h3>
  </div>

  <div class="span4">
    <h3>TBA</h3>
    <ul>
      <li><a href="http://buildsomethingawesome.org/archive.html">buildsomethingawesome.org</a> - Six tutorials on advanced topics such as android development, graphics and games.  (Start at the bottom of the page)</li>
    </ul>
  </div>
</div>
