<div class="row">
  <div class="span4">
    <h3>Online textbooks / tutorials</h3>
    <ul>
      <li><a href="http://programmingbydoing.com/">programmingbydoing.com</a> - An _excellent_ step by step tutorial from a 15-year veteran teacher.</li>
    </ul>
  </div>

  <div class="span4">
    <h3>Introductory video series</h3>
  </div>

  <div class="span4">
    <h3>Other video series</h3>
    <ul>
      <li><a href="http://buildsomethingawesome.org/archive.html">buildsomethingawesome.org</a> - Six tutorials on advanced topics such as android development, graphics and games.  (Start at the bottom of the page)</li>
    </ul>
  </div>
</div>


