<div class="btn pull-right" id="expandall">expand all</div>

<table class="table">
  <tr>
    <th>Date of submission</th>
    <th>Solution</th>
  </tr>

  <% completed_tasks.each do |completed_task| %>
    <tr>
    <td><%= completed_task.created_at %></td>

    <td>
	<div class="layer1">
	  <div class="expand_target">
	    show your solution
	</div>
	  <div class="expandable">

	    <div id="codeview">
	      <a href="#" id="codeview_toggler">full screen</a>
	      <pre>
		<%= addPrettifyTags("<code>" + completed_task.solution + "</code>").html_safe %>
	      </pre>
	    </div>

	  </div>
	</div>
    </td>
  </tr>
  <% end %>
</table>

<script>
  prettyPrint()
</script>
