<div class="btn pull-right" id="expandall">expand all</div>

<% @completed_assignment ||= CompletedAssignment.new %>
<%= form_for @completed_assignment do |f| %>

<table class="table">
  <tr>
    <th>Date of submission</th>
    <th>Solution</th>
  </tr>

  <% completed_tasks.each do |completed_task| %>
  <tr>
    <td><%= completed_task.created_at %></td>

    <td>
      <%= submit_tag "Submit as assignment solution", name: "task", value: "#{completed_task.id}", class: "btn pull-right" %>
	<div class="layer1">
	  <div class="expand_target">
	    show your solution
	</div>
	  <div class="expandable">
	    <%= completed_task.solution %>
	  </div>
	</div>
    </td>
  </tr>
  <% end %>
</table>

<% end %>
